.header_container {
  width: 85%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_time {
  font-family: notoT;
  font-size: 0.7rem;
  color: #a9b1dd;
}
.header_city {
  font-size: 1.2rem;
  color: #494173;
}
.header_logo {
  background-color: #f7d250;
  border-radius: 15px;
}
